body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  background-color: lightgray;
  min-height: 5vh;
  border-radius: 4px;
}

.brand {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
  margin: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
aside {
  display: flex;
  flex-direction: column;
  background-color: azure;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding-left: 5px;
}
li {
  justify-content: space-evenly;
  align-items: safe;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #b11226;
  border-radius: 5px;
  padding: 10px;
  padding-right: 20px;
}

.testimonial {
  background-color: lightgray;
}

p {
  font-family: sans-serif;
}
blockquote,
figcaption {
  font-style: italic;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 10px;
  background-color: black;
  color: white;
}
